.categoryItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80vw;
  height: 60vh;
  max-width: 80vw;

  }
  
  .categoryImage {
    margin-left: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 20%;
    height: 20%;
    object-fit: cover;
  }
  
  .categoryText {
    width: 60%;
    height: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    color: #88857c;
    text-align: center; 
    margin-top: 220px;
    margin-left: -90px;
  }
  .categoryText1 {
    height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
    color: #88857c;
    text-align: center; 
    margin-top: 250px;
  }
  
  