/* .container {
  background-color: rgb(130, 130, 233);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.divForm {
  display: flex;
}

.form {
}

.divImage {
  display: flex;
}

.image {
  width: 20rem;
} */
