.container {
  /* background-color: rgb(211, 156, 156); */
  margin-top: 5rem;
  margin-bottom: 3rem;
}
.Row {
  margin: 0 4rem 0;
}

.imageContainer {
  position: relative;
  width: 300px; /* Adjust as needed */
  height: 300px; /* Adjust as needed */
}

.backgroundImage {
  position: relative;
  top: -40px;
  left: -10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  clip-path: ellipse(50% 90% at 50% 90%);
}

.overlayImage {
  position: absolute;
  top: 80px;
  left: 150px;
  width: 80%;
  height: 80%;
  z-index: 2; /* Higher z-index */
  object-fit: cover; /* Ensures the overlay image covers the container */
}
.contactButton {
  background-color: #fef8e5;
  color: #3f424b;
  padding: 10px 20px;
  border-color: #3f424b;
  border-radius: 40px;
  cursor: pointer;
}

.contactButton:hover {
  background-color: #444; /* Darker color on hover */
}
  }
  
  .backgroundImage {
    position: relative;
    top: -40px;
    left: -10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    clip-path: ellipse(50% 90% at 50% 90%); 
  }
  
  .overlayImage {
    position: absolute;
    top: 80px;
    left: 150px;
    width: 80%;
    height: 80%;
    z-index: 2; /* Higher z-index */
    object-fit: cover; /* Ensures the overlay image covers the container */
  }
  .contactButton {
    background-color: #fef8e5;
    color: #3f424b;
    padding: 10px 20px;
    border-color: #3f424b;
    border-radius: 40px; 
    cursor: pointer;
  }
  
  .contactButton:hover {
    background-color: #444; /* Darker color on hover */
  }
  @media (max-width: 768px) {
    .imageContainer {
       width: 100%; /* Full width on small screens */
       height: auto; /* Auto height to maintain aspect ratio */
     }
   
    .backgroundImage,.overlayImage {
       width: 100%; /* Full width */
       height: auto; /* Auto height */
       top: 20px;
     }
   
    .overlayImage {
       top: 90px; /* Adjust position for smaller screens */
       left: 60px; /* Adjust position for smaller screens */
       width: 70%; /* Adjust width for smaller screens */
       height: 80%; /* Adjust height for smaller screens */
     }
   }
