.Container {
  position: relative;
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #eee8d6;
  max-width: 100%;
  width: 50rem;
  margin: auto;
  margin-top: 5rem;
  border-radius: 10px;
  padding: 2rem;
}
  
  .formRow {
    display: flex;
    width: 50%;
  }
  
  .formCol {
    width: 100%;
  }
  
  Form {
    font-family: "Courier New", Courier, monospace;
    font-size: 18px;
    background-color: inherit;
    padding-top: 0.5rem;
    font-weight: 550;
  }
  
  .label {
    color: #121212;
    font-family: "Cormorant Garamond";
    font-size: 18px;
    font-weight: 500;
    margin-top: 1rem;
  }
  
  .card {
    background-color: inherit;
    border: none;
  }
  
  .customInput {
    border: none;
    background-color: inherit;
    font-family: unset;
    width: 290px;
    border-bottom: 1.5px black solid;
    border-radius: unset;
  }
  
  .imgRow {
    display: flex;
    width: 50%;
  }
  
  .imageCol {
    width: 100%;
  }
  
  .img {
    width: 880px;
    border-radius: 3px;
    width: fit-content;
    height: -webkit-fill-available;
  }
  
  .divBtn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .btn {
    background-color: #fef8e5;
    color: #4d4c47;
    border: 2px solid #4d4c47;
    width: fit-content;
    margin: 1rem;
    font-family: "Cormorant Garamond";
    font-size: 18px;
    font-weight: 600;
    margin-right:50rem ;
  }
  .linkContainer {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .linkContainer p, .linkContainer .linkText {
    margin: 0; 
    padding: 0; 
    line-height: normal; 
  }
  
  
  .btn:hover {
    background-color: #4d4c47;
    color: #fef8e5;
    border: 2px solid #fef8e5;
  }
  
  @media (max-width: 1420px) {
    .Container {
      width: fit-content;
    }
    .imgRow {
      display: flex;
      width: 100%;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .imageCol {
      width: 100%;
      margin: auto;
      display: flex;
    }
  
    .img {
      width: 100%;
      border-radius: 3px;
      height: -webkit-fill-available;
    }
  
    .formRow {
      display: flex;
      width: 100%;
      margin: auto;
    }
  
    .formCol {
      width: 100%;
    }
  }
  