/* .reportSession {
  display: flex;
  flex-direction: row;
  margin-top: 4rem;
  width: 100%;
  align-items: flex-start;
  padding-left: 2rem;
  justify-content: space-between;
}

.reportForm .customInput {
  border: none;
  background-color: #fef8e5;
  border-bottom: 2px #4d4c47 solid;
  border-radius: 0px;
  width: 300px;
}

.reportForm {
  padding-right: 2rem;
}
.divBtnReport {
  translate: 50px 60px;
} */
