.btn {
  background: #4d4c47;
  color: #eee8d6;
  border: #4d4c47 1px solid;
  font-size: large;
  font-weight: bold;
  margin: 0 auto;
}

.btn:hover {
  transform: scale(1.1);
  background: #eee8d6;
  color: #4d4c47;
  border: 2px solid #565b69;
}

.card {
  padding: 0px 4px;
  background: #fef8e5;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card:hover {
  border: 2px solid #4d4c47;
}

.formControl:focus {
  border-color: #4d4c47;
  box-shadow: 0 0 0 0.1rem #4d4c47;
}
