.hr {
  display: block;
  height: 2px;
  width: 1169px;
  position: absolute;
  background: #000000;
  translate: 0 353px;
}

.h2Hr {
  display: block;
  height: 2px;
  width: 1400px;
  position: absolute;
  background: #000000;
  translate: 0 125px;
  margin-top: 2rem;
}
.dropdownContainer {
  /* margin-top: -12rem;
  margin-left: 29rem; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  translate: 50% 1rem;
}
.dropdownToggle {
  margin-right: 10px;
  background-color: #88857c;
  border-color: #4d4c47;
}
.dropdownToggle:hover {
  background-color: #4d4c47;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  font-style: normal;
  font-size: 55px;
  color: #4d4c47;
  width: 100vw;
  margin-top: 6rem;
}
.container {
  display: flex;
  flex-wrap: wrap;
}

.projects {
  margin: 3rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.project {
  display: flex;
  margin-top: 6rem;
  flex-direction: row;
  margin-bottom: 1rem;
}

.content {
  margin-left: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.content h3,
h2 {
  color: #4d4c47;
  font-size: 35px;
}

.content p {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
  width: 30rem;
}

.img {
  border-radius: 5px;
  height: 320px;
  width: 500px;
  margin-top: 20px;
}

.divNavLink {
  display: flex;
  flex-direction: row;
  /* background-color: #88857c; */
  font-size: 12px;
  padding: 10px 30px;
  line-height: 1.2;
  height: 100px;
  margin-top: 250px;
  margin-left: -480px;
  /* border: #000000 1px solid; */
  width: 500px;
  justify-content: space-around;
  align-items: center;
  color: #fef8e5;
}

.navLink:hover {
  background-color: #4d4c47;
  font-size: 21px;
}

.navLink {
  display: flex;
  background-color: #88857c;
  width: 200px;
  height: 80px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border-radius: 5%;
}

@media (max-width: 768px) {
  .project {
    flex-wrap: wrap;
  }
}
