.container {
  position: relative;
  margin-top: 5rem;
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: burlywood;
  max-width: none;
  justify-content: space-between;
}

.divForm {
  display: flex;
  justify-content: flex-start;
  background-color: rgb(104, 172, 218);
}

.divImage {
  display: flex;
  justify-content: flex-end;
  background-color: rgb(59, 20, 136);
}

.form {
}

.image {
  width: 50%;
}
