:root {
  --background-color: #fef8e5;
  --second-color: #eee8d6;
  --third-color: #88857c;
  --fourth-color: #4d4c47;
  --fifth-color: #121212;
  --sixth-color: #7c859e;
  --seventh-color: #565b69;
  --eighth-color: #3f424b;
  --ninth-color: #ffffff;
  --main-font: "Cormorant Garamond", serif;
}

body,
html {
  background-color: var(--background-color);
  /* max-width: 100%; */
  /* width: 100vw; */
  /* overflow-x: hidden; */
}

.App {
  background-color: var(--background-color);
  font-family: var(--main-font);
  /* min-height: 100vh; */
  /* flex-direction: column; */
}
